#app
	ul#appMenu
		li
			height: 105px
			padding: 5px
			padding-right: 4px
			padding-top: 8px
			padding-bottom: 0px
			cursor: pointer
			
		#first
			background: url('/images/slider/btn/btn1_slider.png') no-repeat

		#first:hover	, #first.selected
			background: url('/images/slider/btn/btn1Hover_slider.png') no-repeat
		
		#second
			background: url('/images/slider/btn/btn2_slider.png') no-repeat
 
		#second:hover	 , #second.selected
			background: url('/images/slider/btn/btn2Hover_slider.png') no-repeat	
		
		#third
			background: url('/images/slider/btn/btn3_slider.png') no-repeat
 
		#third:hover	
			background: url('/images/slider/btn/btn3Hover_slider.png') no-repeat
			
			
		#fourth
			background: url('/images/slider/btn/btn4_slider.png') no-repeat
 
		#fourth:hover	
			background: url('/images/slider/btn/btn4Hover_slider.png') no-repeat
			
		#fifth
			background: url('/images/slider/btn/btn5_slider.png') no-repeat
 
		#fifth:hover	
			background: url('/images/slider/btn/btn5Hover_slider.png') no-repeat
		
		#sixth
			background: url('/images/slider/btn/btn6_slider.png') no-repeat
 
		#sixth:hover	
			background: url('/images/slider/btn/btn6Hover_slider.png') no-repeat


	.appView
		background-color: $white
		#sideBar
			h2
				background-color: $darkBlue
				color: #fff
				margin: 10px
		#main
			img
				margin-top: 10px
