@import base
 
$ninesixty-columns: 12

body
	@include background-image(linear-gradient($darkBlue, $lightBlue)) 
 
#wrap
	+grid-system(12)
	+clearfix
	
	#nav
		ul#mainMenu
			li
				+grid-unit-base
				float: right
				+alpha
				+omega
				
	#header
		+grid(12)
		margin-top: 8px
		#logo
			+grid(7)
			+alpha
		#intel
			+grid(5)
			+omega
	#app
		+grid(12)
		margin-top: 20px
		ul#appMenu
			display: block
			+clearfix
			li
				+grid(2)
				+alpha
				+omega
				margin-right: 6px
		#view
			display: block
			height: 493px
			#sideBar
				+grid(3)
			#main
				+grid(9)
	#about
		#text
			+grid(6)
		#image
			+grid(6)
	#info
	#commitment
	#future
	#footer
	#copywrite

 