@import base
 
$ninesixty-columns: 12

body
	@include background-image(linear-gradient($darkBlue, $lightBlue)) 
 
#wrap
	+grid-system(12)
	
	#nav
		+clearfix
		ul#mainMenu
			li
				+grid-unit-base
				+alpha
				+omega
				float: right
				
	#header
		margin-top: 8px
		+clearfix
		#logo
			+grid(7)
		#intel
			+grid(5)
	#app
		height: 600px
	#about
		#text
			+grid(6)
		#image
			+grid(6)
	#info
	#commitment
	#future
	#footer
	#copywrite

 