%ul#mainMenu
	%li 
		%a{:src=>""} Contactenos
	%li 
		%a{:src=>""} Donde Comprar
	%li 
		%a{:src=>""} Soporte
	%li 
		%a{:src=>""} Reviews y Noticias
	%li 
		%a.selected{:src=>""} BTC Classmate
	%li 
		%a{:src=>""} Inicio
