%ul#appMenu
	%li#first
	%li#second
	%li#third
	%li#fourth
	%li#fifth.prelast
	%li#sixth.last
#viewport
	#view1.appView
		#sideBar
			%h2 Videos
			%ul#videos
				%li
					%img{:src=>"images/videos/capacitacionVideo1.jpg"}	
					%h3 nombre del video
				%li
					%img{:src=>"images/videos/capacitacionVideo2.jpg"}	
					%h3 nombre del video
			%h2 Links de Interés
			%a.link{:href=>""} http://www.dsfsda.com
			%h2 Bajar PDF's
			%ul#downloads
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
		
		#main
			%img{:src=>"images/splashs/splash1.jpg"}
		
	#view2.appView
		#sideBar
			%h2 Videos
			%ul#videos
				%li
					%img{:src=>"images/videos/capacitacionVideo1.jpg"}	
					%h3 nombre del video
				%li
					%img{:src=>"images/videos/capacitacionVideo2.jpg"}	
					%h3 nombre del video
			%h2 Links de Interés
			%a.link{:href=>""} http://www.dsfsda.com
			%h2 Bajar PDF's
			%ul#downloads
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com

		#main
			%img{:src=>"images/splashs/splash2.jpg"}
		
	#view3.appView
		#sideBar
			%h2 Videos
			%ul#videos
				%li
					%img{:src=>"images/videos/classmateVideo1.jpg"}	
					%h3 nombre del video
				%li
					%img{:src=>"images/videos/classmateVideo2.jpg"}	
					%h3 nombre del video
			%h2 Links de Interés
			%a.link{:href=>""} http://www.dsfsda.com
			%h2 Bajar PDF's
			%ul#downloads
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
		
		#main
			%img{:src=>"images/splashs/splash3.jpg"}
		
	#view4.appView
		#sideBar
			%h2 Videos
			%ul#videos
				%li
					%img{:src=>"images/videos/contenidosVideo1.jpg"}	
					%h3 nombre del video
				%li
					%img{:src=>"images/videos/contenidosVideo2.jpg"}	
					%h3 nombre del video
			%h2 Links de Interés
			%a.link{:href=>""} http://www.dsfsda.com
			%h2 Bajar PDF's
			%ul#downloads
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
	
		#main
			%img{:src=>"images/splashs/splash4.jpg"}
		
	#view5.appView
		#sideBar
			%h2 Videos
			%ul#videos
				%li
					%img{:src=>"images/videos/contenidosVideo3.jpg"}	
					%h3 nombre del video

			%h2 Links de Interés
			%a.link{:href=>""} http://www.dsfsda.com
			%h2 Bajar PDF's
			%ul#downloads
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
	
		#main
			%img{:src=>"images/splashs/splash5.jpg"}
		
	#view6.appView
		#sideBar
			%h2 Videos
			%ul#videos
				%li
					%img{:src=>"images/videos/contenidosVideo3.jpg"}	
					%h3 nombre del video
				%li
					%img{:src=>"images/videos/contenidosVideo4.jpg"}	
					%h3 nombre del video
			%h2 Links de Interés
			%a.link{:href=>""} http://www.dsfsda.com
			%h2 Bajar PDF's
			%ul#downloads
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
				%li
					%a{:href=>"#"} http://www.dsfsda.com
	
		#main
			%img{:src=>"images/splashs/splash6.jpg"}
		