%ul#appMenu
	%li#first
	%li#second
	%li#third
	%li#fourth
	%li#fifth.prelast
	%li#sixth.last
#view1.appView
	#sideBar
		%h2 titlo
	#main
		%img{:src=>"images/splashs/splash1.jpg"}
		
#view2.appView
	#sideBar
		%h2 titlo
	#main
		%img{:src=>"images/splashs/splash2.jpg"}
		
#view3.appView
	#sideBar
		%h2 titlo
		
	#main
		%img{:src=>"images/splashs/splash3.jpg"}
		
#view4.appView
	#sideBar
		%h2 titlo
	
	#main
		%img{:src=>"images/splashs/splash4.jpg"}
		
#view5.appView
	#sideBar
		%h2 titlo
	
	#main
		%img{:src=>"images/splashs/splash5.jpg"}
		
#view6.appView
	#sideBar
		%h2 titlo
	
	#main
		%img{:src=>"images/splashs/splash6.jpg"}
		