!!!Strict
%html{   }
	%head
		%title Frebe Testing Framework.
		%meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}/
		%meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
		%link{:href=>"/stylesheets/grid.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/

		%script{:src => "/javascripts/vendors.js", :type => 'text/javascript', :charset => 'utf-8'}

		%link{:href=>"/test/jasmine-1.0.2/jasmine.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
		%script{:src => "/test/jasmine-1.0.2/jasmine.js", :type => 'text/javascript', :charset => 'utf-8'}
		%script{:src => "/test/jasmine-1.0.2/jasmine-html.js", :type => 'text/javascript', :charset => 'utf-8'}
		%script{:src => "/test/jasmine-jquery/jasmine-jquery.js", :type => 'text/javascript', :charset => 'utf-8'}

 		
		%script{:src => "/javascripts/specs.js", :type => 'text/javascript', :charset => 'utf-8'}
		
		
		%script{:src => "/javascripts/app.js", :type => 'text/javascript', :charset => 'utf-8'}

		%body
			#headerWrapper
			#header
				#logo
					%a{:href => "/"} frebbe
			#container
				#nav
				!= yield
			#footerWrapper
				#footer
			#copywrite
			
			:javascript
				$(function() {
					jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
					jasmine.getEnv().execute();
				});